.cartContainer {
  width: 80%;
  gap: 20px;
  margin: auto;
  display: flex;
  margin-top: 50px;
}

.cartFirstRow {
  width: 50%;
  padding: 10px;
  border: solid 1px #eee;
}

.cartSecondRow {
  width: 50%;
  padding: 10px;
  border: solid 1px #eee;
}

.cartHeading {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}

.cartParagaph {
  font-size: 16px;
  font-weight: 400;
}

.cartNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartTop {
  background: #3b4148;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
